<%% provide(:title_header, '<%=plural_table_name.titleize%>') %>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2><%= plural_table_name.titleize %></h2>
    <ol class="breadcrumb">
      <li>
        <%%= link_to root_path do %>
          <%%= fa_icon 'home', text: 'Inicio' %>
          <%% end %>
      </li>
      <li class="active"><%= plural_table_name.titleize %></li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body table-responsive">
      <%%= link_to new_<%= singular_table_name %>_path ,
            title: 'Nuevo <%= singular_table_name.titleize %>',
            class: 'panel-main-action btn btn-warning btn-rounded' do %>
        <%%= fa_icon 'plus' %>
      <%% end %>

      <table class="table table-hover">
        <thead>
          <tr>
          <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <th><%= attribute.human_name %></th>
          <% end -%>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
            <tr>
            <% attributes.reject(&:password_digest?).each do |attribute| -%>
              <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
            <% end -%>
              <td>
                <%%= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-xs btn-primary' %>
                <%%= link_to 'Eliminar', <%= singular_table_name %>, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: '¿Realmente desea eliminar el <%=singular_table_name%>?' } %>
              </td>
            </tr>
          <%% end %>
        </tbody>
      </table>

      <%%# paginate @<%=plural_table_name%>, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm no-margin pull-right" %>

      <%% if @<%= plural_table_name%>.empty? %>
        <p class="lead text-center"> Nada que mostrar por aquí </p>
      <%% end %>

    </div>
  </div>
</section>
