<%% provide(:title_header, 'Nuevo <%=singular_table_name.titleize%>')%>

<header class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Nuevo <%=singular_table_name.titleize%></h2>
    <ol class="breadcrumb">
      <li>
        <%%= link_to root_path do %>
          <%%= fa_icon 'home', text: 'Inicio' %>
          <%% end %>
      </li>
      <li>
        <%%= link_to <%= index_helper %>_path do %>
          <%%= fa_icon 'briefcase', text: '<%=plural_table_name.titleize%>' %>
          <%% end %>
      </li>
      <li class="active">Nuevo <%=singular_table_name.titleize%></li>
    </ol>
  </div>
</header>

<section class="wrapper wrapper-content animated fadeInRight">
  <div class="panel">
    <div class="panel-body">
      <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
    </div>
  </div>
</section>
