<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <span class="logo-mini"><b>U</b></span>
            <span class="logo-lg"><b>Unagi</b></span>
          </li>
          <%= side_link text: 'Inicio', path: root_path, icon_class: 'home' %>
          <%= side_link text: 'Link 1', path: '#', icon_class: 'briefcase' %>
          <li>
            <a href="#" title="Anidada" data-toggle="tooltip" data-placement="right">
              <i class="fa fa-table"></i>
              <span class="nav-label">Prueba anidada</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse" style="height: 0px;">
              <%= side_link text: 'Listado anidado', path: '#' %>
              <%= side_link text: 'Otro item anidado', path: '#' %>
            </ul>
          </li>
        </ul>
    </div>
</nav>
