<%= form_for user do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <fieldset class="form-group">
        <%= f.label :email %>
        <% if user.persisted? %>
          <code><%= user.email %></code>
        <% else %>
          <%= f.email_field :email, placeholder: 'Email', class: 'form-control', required: true %>
        <% end %>
      </fieldset>

      <fieldset class="form-group">
       <%= f.label :password %><br />
       <%= f.password_field :password, placeholder: 'Contraseña', class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
         <%= f.label :password_confirmation %><br />
         <%= f.password_field :password_confirmation, placeholder: 'Confirme contraseña', class: 'form-control', required: true %>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group actions">
        <%= f.submit 'Guardar Usuario', class: "btn btn-success", data: 
          { 'disable-with' => 'Guardando...' } %>
          <%= link_to 'Volver', :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
