<% provide(:title_header, 'Editar contraseña de usuario')%>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Editar contraseña</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
          <%= fa_icon 'home', text: 'Home' %>
        <% end %>
      </li>
      <li>
        <%= link_to users_path do %>
          <%= fa_icon 'users', text: 'Usuarios' %>
        <% end %>
      </li>
      <li class="active">Editar perfil</li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Cambio de clave</h5>
        </div>

        <div class="ibox-content">
          <%= render 'form_password', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
