<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title yield(:title_header) %> </title>
    <%= render 'application/head' %>
    <meta name="turbolinks-cache-control" content="no-preview">
  </head>

  <body class="<%= "#{controller_name} #{action_name}" %> <%= sidebar_state %>">

  <div id="wrapper">

    <%= render 'application/aside' %>
    <div id="page-wrapper" class="gray-bg">

      <%= render 'application/navbar' %>

      <%= yield %>

      <%= flash_messages if flash %>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="js-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

  <%= yield(:modals) %>
</body>
</html>