<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title yield(:title_header) %> </title>
    <%= render 'application/head' %>
  </head>
  <body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <%# <%= image_tag 'logo.png' %1> %>
      <div class="login-box-body">
        <p>Inicia sesión</p>
        <%= yield %>
        <%= flash_messages if flash %>
      </div>
    </div>
  </body>
</html>
